## 

### Alterações no script tester.py

* Adicionar parênteses no ```print``` do script ```tester.py```
* alterar linha de import de biblioteca ```from sklearn.cross_validation import StratifiedShuffleSplit``` para ```from sklearn.model_selection import StratifiedShuffleSplit```

### 
* Copiar ```feature_format.py``` para pasta local

### Alterações feitas no poi_id.py
* alterar chamada ```with open()``` para usar o segundo para parâmetro como ```rb```

In [24]:
import pandas as pd
import sys
import pickle
from tester import dump_classifier_and_data
from feature_format import featureFormat, targetFeatureSplit

In [6]:
features_list = ['poi','salary'] # You will need to use more features

### Load the dictionary containing the dataset
with open("final_project_dataset.pkl", "rb") as data_file:
    data_dict = pickle.load(data_file)

In [22]:
# Checando chaves de cada entrada no dicionário
list(data_dict.get('ALLEN PHILLIP K').keys())

['salary',
 'to_messages',
 'deferral_payments',
 'total_payments',
 'loan_advances',
 'bonus',
 'email_address',
 'restricted_stock_deferred',
 'deferred_income',
 'total_stock_value',
 'expenses',
 'from_poi_to_this_person',
 'exercised_stock_options',
 'from_messages',
 'other',
 'from_this_person_to_poi',
 'poi',
 'long_term_incentive',
 'shared_receipt_with_poi',
 'restricted_stock',
 'director_fees']

In [27]:
df_enron = pd.DataFrame.from_dict(data_dict, orient='index')

In [29]:
df_enron[df_enron.poi ==True]

,salary,to_messages,deferral_payments,total_payments,loan_advances,bonus,email_address,restricted_stock_deferred,deferred_income,total_stock_value,...,from_poi_to_this_person,exercised_stock_options,from_messages,other,from_this_person_to_poi,poi,long_term_incentive,shared_receipt_with_poi,restricted_stock,director_fees
BELDEN TIMOTHY N,213999,7991,2144013,5501630,NaN,5249999,tim.belden@enron.com,NaN,-2334434,1110705,...,228,953136,484,210698,108,True,NaN,5521,157569,NaN
BOWEN JR RAYMOND M,278601,1858,NaN,2669589,NaN,1350000,raymond.bowen@enron.com,NaN,-833,252055,...,140,NaN,27,1621,15,True,974293,1593,252055,NaN
CALGER CHRISTOPHER F,240189,2598,NaN,1639297,NaN,1250000,christopher.calger@enron.com,NaN,-262500,126027,...,199,NaN,144,486,25,True,375304,2188,126027,NaN
CAUSEY RICHARD A,415189,1892,NaN,1868758,NaN,1000000,richard.causey@enron.com,NaN,-235000,2502063,...,58,NaN,49,307895,12,True,350000,1585,2502063,NaN
COLWELL WESLEY,288542,1758,27610,1490344,NaN,1200000,wes.colwell@enron.com,NaN,-144062,698242,...,240,NaN,40,101740,11,True,NaN,1132,698242,NaN
DELAINEY DAVID W,365163,3093,NaN,4747979,NaN,3000000,david.delainey@enron.com,NaN,NaN,3614261,...,66,2291113,3069,1661,609,True,1294981,2097,1323148,NaN
FASTOW ANDREW S,440698,NaN,NaN,2424083,NaN,1300000,andrew.fastow@enron.com,NaN,-1386055,1794412,...,NaN,NaN,NaN,277464,NaN,True,1736055,NaN,1794412,NaN
GLISAN JR BEN F,274975,873,NaN,1272284,NaN,600000,ben.glisan@enron.com,NaN,NaN,778546,...,52,384728,16,200308,6,True,71023,874,393818,NaN
HANNON KEVIN P,243293,1045,NaN,288682,NaN,1500000,kevin.hannon@enron.com,NaN,-3117011,6391065,...,32,5538001,32,11350,21,True,1617011,1035,853064,NaN
HIRKO JOSEPH,NaN,NaN,10259,91093,NaN,NaN,joe.hirko@enron.com,NaN,NaN,30766064,...,NaN,30766064,NaN,2856,NaN,True,NaN,NaN,NaN,NaN
KOENIG MARK E,309946,2374,NaN,1587421,NaN,700000,mark.koenig@enron.com,NaN,NaN,1920055,...,53,671737,61,150458,15,True,300000,2271,1248318,NaN
KOPPER MICHAEL J,224305,NaN,NaN,2652612,NaN,800000,michael.kopper@enron.com,NaN,NaN,985032,...,NaN,NaN,NaN,907502,NaN,True,602671,NaN,985032,NaN
LAY KENNETH L,1072321,4273,202911,103559793,81525000,7000000,kenneth.lay@enron.com,NaN,-300000,49110078,...,123,34348384,36,10359729,16,True,3600000,2411,14761694,NaN
RICE KENNETH D,420636,905,NaN,505050,NaN,1750000,ken.rice@enron.com,NaN,-3504386,22542539,...,42,19794175,18,174839,4,True,1617011,864,2748364,NaN
RIEKER PAULA H,249201,1328,214678,1099100,NaN,700000,paula.rieker@enron.com,NaN,-100000,1918887,...,35,1635238,82,1950,48,True,NaN,1258,283649,NaN
SHELBY REX,211844,225,NaN,2003885,NaN,200000,rex.shelby@enron.com,NaN,-4167,2493616,...,13,1624396,39,1573324,14,True,NaN,91,869220,NaN
SKILLING JEFFREY K,1111258,3627,NaN,8682716,NaN,5600000,jeff.skilling@enron.com,NaN,NaN,26093672,...,88,19250000,108,22122,30,True,1920000,2042,6843672,NaN
YEAGER F SCOTT,158403,NaN,NaN,360300,NaN,NaN,scott.yeager@enron.com,NaN,NaN,11884758,...,NaN,8308552,NaN,147950,NaN,True,NaN,NaN,3576206,NaN

In [31]:
df_enron.info()

<class 'pandas.core.frame.DataFrame'>
Index: 146 entries, ALLEN PHILLIP K to YEAP SOON
Data columns (total 21 columns):
salary                       146 non-null object
to_messages                  146 non-null object
deferral_payments            146 non-null object
total_payments               146 non-null object
loan_advances                146 non-null object
bonus                        146 non-null object
email_address                146 non-null object
restricted_stock_deferred    146 non-null object
deferred_income              146 non-null object
total_stock_value            146 non-null object
expenses                     146 non-null object
from_poi_to_this_person      146 non-null object
exercised_stock_options      146 non-null object
from_messages                146 non-null object
other                        146 non-null object
from_this_person_to_poi      146 non-null object
poi                          146 non-null bool
long_term_incentive          146 non-null object
shared_receipt_with_poi      146 non-null object
restricted_stock             146 non-null object
director_fees                146 non-null object
dtypes: bool(1), object(20)
memory usage: 24.1+ KB

In [33]:
list(df_enron.salary)

[201955,
 'NaN',
 477,
 267102,
 239671,
 80818,
 231330,
 213999,
 'NaN',
 216582,
 187922,
 'NaN',
 213625,
 248546,
 'NaN',
 278601,
 'NaN',
 248017,
 261516,
 330546,
 240189,
 261809,
 415189,
 'NaN',
 'NaN',
 'NaN',
 288542,
 'NaN',
 314288,
 184899,
 206121,
 365163,
 492375,
 210500,
 250100,
 262788,
 221003,
 278601,
 'NaN',
 210692,
 182245,
 170941,
 304588,
 440698,
 199157,
 'NaN',
 'NaN',
 1060932,
 'NaN',
 192008,
 231946,
 'NaN',
 'NaN',
 'NaN',
 274975,
 272880,
 'NaN',
 6615,
 374125,
 243293,
 'NaN',
 'NaN',
 'NaN',
 262663,
 211788,
 'NaN',
 'NaN',
 'NaN',
 130724,
 85274,
 288558,
 'NaN',
 275101,
 404338,
 174246,
 271442,
 309946,
 224305,
 339288,
 1072321,
 273746,
 'NaN',
 'NaN',
 236457,
 'NaN',
 'NaN',
 349487,
 'NaN',
 263413,
 365038,
 'NaN',
 370448,
 'NaN',
 365788,
 'NaN',
 'NaN',
 'NaN',
 267093,
 251654,
 229284,
 'NaN',
 329078,
 94941,
 261879,
 'NaN',
 655037,
 197091,
 'NaN',
 'NaN',
 'NaN',
 96840,
 76399,
 420636,
 249201,
 'NaN',
 'NaN',
 304110,
 269076,
 248146,
 211844,
 'NaN',
 428780,
 1111258,
 239502,
 162779,
 257486,
 265214,
 'NaN',
 222093,
 247338,
 26704229,
 288589,
 'NaN',
 'NaN',
 357091,
 'NaN',
 259996,
 63744,
 'NaN',
 510364,
 317543,
 'NaN',
 'NaN',
 'NaN',
 158403,
 'NaN']